---
title: Findhelp is down for maintenance
---

<div class="dialog">
  <%= image_tag 'findhelp.png' %>
  <h1>
    Findhelp is down for maintenance
    as of <%= Time.now.strftime("%H:%M") %> :(
  </h1>
  <p>
    We'll have it up and running again in a few minutes time.
  </p>
</div>
